*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Estrutura{
    
}

.term{
    height: 2rem;
}

.desc{
    height: 3rem;
}

dt{

}

dl{
    padding-left: 4rem;
}

dd{
    margin-left: 2rem;
}

h1{
    padding-top: 1rem;
}

h2{
    padding-top: 1rem;
}

p{

}

.P{
    width: 20rem;
}

div{
    padding-top: 1rem;
}

ol{
    margin-left: 8rem;
}

ul{
    margin-left: 8rem;
}
.Dragon{
    height: 30vw;
}

.list{
    margin-top: 2rem;
}

.iframe{
    margin-left: 10rem;
}
